const{
    color: #f8bf13;
}

fnc{
    color: #ff8239;
}

string{
    color: #9cf58c
}

props{
    color: #73cc6a;
}

comment{
    color: #027ed0;
    text-style: italic;
}

num{
    color: #e35970;
}

temp{
    color:#f8e57d
}

.code-area{
    background-color: #193549;
    color: #fff;
    width: 100%;
    overflow-x: auto;
    margin: 20px 0 20px 0px;
    padding: 10px;
    border-radius: 10px;
  
}  

.text-area{
    margin: 0 auto;
    width: 80%;
}

.text-area h1{
    text-decoration: underline;
    margin-bottom: 1.5rem;
}
.text-area h1>i{
   color: #027ed0
}
.text-area h4{
    font-weight: 600;
}

.text-area p{
    text-align: justify;
}

.text-area h2.underline{
    text-decoration: underline;
}
#mongodb-documents h5{
    font-weight: 600
}

.code-area{
    max-height: 200px;
    overflow: auto;
}

.code-area.h-sm{
    height: 95px;
}

.code-area.h-xs{
    height: 20px;
}

.code-area code>p{
    font-size: 15px;
    margin-bottom: 2px;
}

.code-area code>p.inner{
    padding-left:25px; 
}

.code-area code>p.indent-1{
    padding-left: 20px;
}
.code-area code>p.indent-2{
    padding-left: 60px;
}
.code-area code>p.indent-3{
    padding-left: 88px;
}

pre{
    background: transparent;
    color: white;
    font-size: 15px;
    text-align: center
}

.code-area code{
    background-color: transparent;
    padding: 5px;
    color: #fff;
    font-size: 15px;
}

.img-holder{
    position: relative;
    margin: 0 auto;
    align-content: center;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.img-holder img{
    border-radius: 7px;
}

.dots-li li{
    list-style-type: disc;
    margin: 3px 0px 3px 0px;
}



/* Scrollbar */

/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 1px;
    width: 344px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #010182;
    border-radius: 2px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #010182;
}
